body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    width: 100%;
}
.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.item{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 15px;
}
.img{
    width: 30%;
    height: auto;
    margin-right: 20px;
}

.description{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 20px;
}

